
#info-nav {
  margin: 0 auto;
}

p {
  margin-bottom: 12px;
}

.title-text {
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
}

a {
  width: 32px;
  height: 32px;

}

img  {
  margin-left: 20px;
  margin-top: 7px;
  height: 20px;
  position: absolute;
}

.portfolio-link {
  font-family: 'Dosis', sans-serif;
  position: absolute;
  width: 90px;
  margin-left: 62px;
  margin-top: 7px;
}

#title-screen {
  position: absolute;
  left: 100px;
  top: 58px;
  height: 602px;
  background: rgba(200,200,200,0.85);
  width: 1050px;
}

.no-title-screen {
  display: none;
}

.title-screen-text {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 4.5;
  margin-top: 10%;
}

.welcome-text {
  font-size: 34px;
}

.game-instructions {
  font-size: 24px;
}

.start-instructions {
  font-size: 24px;
}

#game-screen {
  margin-left: 100px;
}


.score-text{
  font-family: 'Dosis', sans-serif;
  top: 115px;
  right: 258px;
  font-size: 34px;
  position: absolute;
}

.score-number {
  display: inline-block;
  margin-left: 25px;
}

.shots-text {
  font-family: 'Dosis', sans-serif;
  top: 115px;
  left: 187px;
  font-size: 34px;
  position: absolute;
}

.shots-number {
  display: inline-block;
  margin-left: 25px;
}

#ending-screen {
  position: absolute;
  left: 100px;
  top: 58px;
  height: 602px;
  background: rgba(200,200,200,0.85);
  width: 1050px;
  display: none;
}

.ending-screen-text {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 4.5;
  margin-top: 10%;
}

.game-over-text {
  font-size: 28px;
}

.ending-score-text {
  font-size: 28px;
}

.high-score-text {
  font-size: 24px;
  color: #1919FF;
}

.high-score-number {
  display: inline-block;
  margin-left: 10px;
}
